@import "../vars"

.leftNav
  position: absolute
  top: $class-work-title-bar-height + $border-width
  left: 0
  bottom: 0
  width: $class-work-left-nav-width
  background-color: #dae6f3
  border-right: 1px solid #000
  border-radius: 0 0 0 $border-radius
  user-select: none
  overflow: auto

  .leftNavContents
    height: 100%

  .top

    .students
      display: flex
      flex-direction: column
      color: $cc-charcoal
      background-color: $cc-teal-light-7

      >div
        display: flex
        padding: 6px 0

        &:hover
          background-color: $cc-teal-light-6

        &.selected, &.selected:hover
          font-weight: bold
          background-color: $cc-teal-light-4

        .studentIcon
          width: 32px
          display: flex
          align-items: center
          justify-content: center

        .student
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap

  .bottom
    background-color: white
    min-height: 260px

    .comment
      position: absolute
      width: 210px
      left: 15px
      bottom: 45px
      height: 75px
      padding: 7px
      box-sizing: border-box
      border-radius: $border-radius
      font-family: "Lato", arial, sans-serif

    .submitButton
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      width: 143px
      height: 30px
      left: 82px
      bottom: 10px
      box-sizing: border-box
      color: $cc-charcoal
      background-color: $cc-teal-light-6
      border: 1.5px solid $cc-charcoal-light-1
      border-radius: $button-radius

      svg
        margin-right: 5px
      >div
        margin-top: -2px
        font-family: "Lato", arial, sans-serif
        font-size: 16px
        font-weight: bold

      &:hover
        background-color: $cc-teal-light-4
      &:active
        color: white
        background-color: $cc-teal
        svg
          fill: white