@import "../vars"

.leftNav
  position: absolute
  top: $class-work-title-bar-height + $border-width
  left: 0
  bottom: 0
  width: $class-work-left-nav-width
  background-color: #dae6f3
  border-right: 1px solid #000
  border-radius: 0 0 0 $border-radius
  user-select: none
  overflow: auto

  .leftNavContents
    height: 100%

  .top

    .students
      display: flex
      flex-direction: column
      color: $cc-charcoal
      background-color: $cc-teal-light-7

      >div
        display: flex
        padding: 6px 0

        &:hover
          background-color: $cc-teal-light-6

        &.selected, &.selected:hover
          font-weight: bold
          background-color: $cc-teal-light-4

        .studentIcon
          width: 32px
          min-width: 32px
          display: flex
          align-items: center
          justify-content: center

        .student
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap

        .unread
          padding-left: 3px

  .bottom
    display: flex
    flex-direction: column
    justify-content: flex-start
    background-color: white

    .commentList
      margin: auto
      margin-top: 0
      overflow-y: scroll
      flex-grow: 2
      width: 100%

      .comment
        display: flex
        flex-direction: row
        justify-content: flex-start
        font-size: 14px
        line-height: 20px
        padding: 9px 5px 0 15px
        color: $cc-charcoal

        svg
          min-width: 24px
          cursor: pointer
          fill: $cc-teal-light-4

          &:hover
            fill: $cc-teal


        .sender
          font-weight: bold

      .newCommentLine
        display: flex
        flex-direction: row
        justify-content: flex-end
        margin-top: 5px
        margin-bottom: -14px
        &:before
          content: ' '
          flex-grow: 2
          height: 1px
          background-color: $hi-green-dark2
          transform: translate(0, 2px)
        &:after
          content: 'New'
          position: relative
          top: -7px
          font-size: 12px
          color: $hi-green-dark2
          padding: 2px

    .commentInput
      width: 210px
      height: 75px
      min-height: 75px
      margin: 5px 0 5px 15px
      padding: 7px
      box-sizing: border-box
      border-radius: $border-radius
      font-family: "Lato", arial, sans-serif

    .submitButton
      margin: 0 0 10px 82px
      display: flex
      justify-content: center
      align-items: center
      width: 144px
      height: 30px
      left: 82px
      bottom: 10px
      box-sizing: border-box
      color: $cc-charcoal
      background-color: $cc-teal-light-6
      border: 1.5px solid $cc-charcoal-light-1
      border-radius: $button-radius
      cursor: pointer

      svg
        margin-right: 5px
      >div
        margin-top: -2px
        font-family: "Lato", arial, sans-serif
        font-size: 15px
        font-weight: bold

      &:hover:enabled
        background-color: $cc-teal-light-4
      &:active:enabled
        color: white
        background-color: $cc-teal
        svg
          fill: white
      &:disabled
        background-color: $cc-charcoal-light-3
        cursor: auto
        svg
          fill: $cc-charcoal-light-1
