.wrapper
  padding: 0px;
  margin: 0px;
  display: inline-block;
  position: relative;
  .wrappedContent
    font-size: 14pt;
    padding: 0.25em;
    position: absolute;
    background-color: hsla(0, 10%, 10%, 0.80);
    top: 0px;
    left: 0px;
    right: 0px;
    height: 24px;
    text-align: right;
    color: white;
