.wrapper
  padding: 0px;
  margin: 0px;
  position: relative;
  .wrappedHeader
    font-size: 14pt;
    padding: 0.25em;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 24px;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;

    .icons
      padding-right: 7px;

  svg
    box-sizing: content-box;

    &.newCommentBadge
      position: absolute
      transform: translateX(-10px)
