.splitPane
  display: flex
  flex-direction: column
  height: 100%

  .splitPaneTop, .splitPaneBottom
    flex: 1
    overflow: scroll

  .splitPaneTop
    height: 50%

  .separator
    border: 5px solid black
    cursor: row-resize
