$titleBarHeight: 40px
$leftNavWidth: 180px
$border-radius: 20px
$border-width: 1px

.viewClass
  position: fixed
  top: 20px
  right: 20px
  bottom: 20px
  left: 20px
  background-color: #cfe2f3
  border: 1px solid #000
  border-radius: $border-radius

  .titleBar
    position: absolute
    top: 0
    right: 0
    left: 0
    height: $titleBarHeight
    background-color: #9fc5e8
    border-bottom: 1px solid #000
    border-radius: $border-radius $border-radius 0 0
    user-select: none

    .titleBarContents
      padding: 8px 10px
      font-size: 1.3em

      .icon
        background-color: transparent
        fill: #000
        width: 1.3em
        margin: 0 10px 0 5px

      .titleBarClose
        float: right
        fill: #fff
        font-weight: bold
        font-size: 0.8em

  .leftNav
    position: absolute
    top: $titleBarHeight + $border-width
    left: 0
    bottom: 0
    width: $leftNavWidth
    background-color: #dae6f3
    border-right: 1px solid #000
    border-radius: 0 0 0 $border-radius
    user-select: none
    overflow: auto

    .leftNavContents
      padding: 20px

      ul
        margin: 0
        padding: 0
        list-style: none
        font-size: 1.1em

        .selected
          font-weight: bold
        li:hover
          text-decoration: underline

  .viewer
    position: absolute
    top: $titleBarHeight + $border-width
    bottom: 0
    left: $leftNavWidth + $border-width
    right: 0

    .viewerMessage
      display: flex
      align-items: center
      justify-content: center
      height: 100%

      .viewerMessageContents
        border: 1px solid #000
        border-radius: $border-radius / 2
        padding: 20px 30px

    .viewerInteractive
      position: absolute
      top: 10px
      right: 10px
      bottom: 10px
      left: 10px

      .viewerInteractiveIFrame
        width: 100%
        height: 100%
        border: 0



